modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && npm run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[userenv]

[userenv.shared]
VITE_LEADS_WEBHOOK_URL = "https://script.google.com/macros/s/AKfycbz2LdTJT2UFDDUWkCwfFJb60szJeKuFu8zrkRWuknmAz5vfMH-_LKx4TaIojjnNq50VKw/exec"
